<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kool Karz</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/cars.css">
</head>

<body>
  <%- include('partials/_header') %>
    <div class="container mt-5">

      <!-- Price Filter -->
      <div class="my-3">
        <label for="priceFilter">Filter by Price: </label>
        <input type="range" id="priceFilter" min="0" max="100000" step="500" value="100000" />
        <span id="priceLabel">$100,000</span>
      </div>

      <!-- Car Cards -->
      <div class="row">
        <% cars.forEach(function(car) { %>
          <div class="col-md-4 mb-3">
            <div class="card" data-price="<%= car.price %>">
              <img class="card-img-top" src="<%= car.image_url %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <%= car.name %>
                </h5>
                <p class="card-text"><strong>Price: </strong>$<%= car.price %>
                </p>
              </div>
            </div>
          </div>
          <% }) %>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              // Filter cars based on price
              $(document).ready(function() {
                $('#priceFilter').on('input', function() {
                  let maxPrice = $(this).val();
                  $('#priceLabel').text('$' + maxPrice);

                  $('.card').each(function() {
                    if ($(this).data('price') > maxPrice) {
                      $(this).hide();
                    } else {
                      $(this).show();
                    }
                  });
                });
              });
            </script>
</body>

</html>
