<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kool Karz</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/cars.css">
</head>

<body>
  <%- include('partials/_header') %>
    <div class="sort">
      <div class="col-md-12"></div>
      <% if (sortOrder==='ASC' ) { %>
        <a class="btn-primary" href="./?sortOrder=DESC">Sort by Price</a>
        <% } else { %>
          <a class="btn-primary" href="./?sortOrder=ASC">Sort by Price</a>
          <% } %>
    </div>
    <div class="container mt-5">
      <div class="row">
        <% cars.forEach(function(car) { %>
          <div class="col-md-4 mb-3">
            <div class="card" data-price="<%= car.price %>">
              <img class="card-img-top" src="<%= car.image_url %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <%= car.name %>
                </h5>
                <p class="card-text"><strong>Price: </strong>$<%= car.price %>
                </p>
                <button class="btn btn-primary">Message Owner</button>
              </div>
            </div>
          </div>
          <% }) %>
</body>

</html>
